anyascii==0.3.3
apimatic-core==0.2.23
apimatic-core-interfaces==0.1.7
apimatic-requests-client-adapter==0.1.8
asgiref==3.9.1
beautifulsoup4==4.13.5
CacheControl==0.12.14
cachetools==6.2.2
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.3.0
colorama==0.4.6
cryptography==46.0.3
cssbeautifier==1.15.4
defusedxml==0.7.1
diff-match-patch==20241021
Django==5.2.6
django-allauth==65.13.0
django-axes==8.0.0
django-dbbackup==5.0.1
django-filter==25.1
django-import-export==4.3.14
django-modelcluster==6.4
django-parler==2.3
django-permissionedforms==0.1
django-ranged-response==0.2.0
django-ratelimit==4.1.0
django-redis==6.0.0
django-simple-captcha==0.6.2
django-stubs-ext==5.2.5
django-taggit==6.1.0
django-tasks==0.8.1
django-treebeard==4.7.1
djangorestframework==3.16.1
djangorestframework-csv==3.0.2
djlint==1.36.4
draftjs_exporter==5.1.0
EditorConfig==0.17.1
et_xmlfile==2.0.0
filetype==1.2.0
google-api-core==2.28.1
google-auth==2.43.0
google-cloud-core==2.5.0
google-cloud-storage==3.6.0
google-crc32c==1.7.1
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
idna==3.10
joblib==1.5.2
jsbeautifier==1.15.4
json5==0.12.1
jsonpickle==3.3.0
jsonpointer==2.4
laces==0.1.2
lxml==6.0.2
msgpack==1.1.2
mysqlclient==2.2.7
nltk==3.9.1
numpy==2.3.3
openpyxl==3.1.5
pandas==2.3.2
pathspec==0.12.1
paypal-server-sdk==1.1.0
paypalrestsdk==1.13.3
pillow==11.3.0
pillow_heif==1.1.0
polib==1.2.0
proto-plus==1.26.1
protobuf==6.33.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
PyMuPDF==1.26.4
pyOpenSSL==25.3.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.2.0
pytz==2025.2
PyYAML==6.0.3
redis==7.0.1
regex==2025.9.18
reportlab==4.4.4
requests==2.32.5
rosetta==0.3
rsa==4.9.1
scipy==1.16.2
six==1.17.0
soupsieve==2.8
sqlparse==0.5.3
tablib==3.9.0
telepath==0.3.1
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
wagtail==7.1.1
wagtail-localize==1.12.2
wagtail-modeladmin==2.2.0
wagtail-seo==3.1.1
Wand==0.6.13
Willow==1.11.0