


.layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}



.area-1 {
    height: auto;
    grid-column: 1 / span 4;
    margin: 0.5rem;
    align-items: baseline;
    gap: 1rem;
    animation: scale-in 700ms linear;

}

@keyframes scale-in {
    from{
        scale: 1.15;
        filter: blur(10px);
    }

    to {
        scale: 1;
        filter: blur(0);
    }
}

.area-3 {

    grid-column: 2 / span 3;
    flex-wrap: wrap;
    width: auto;
}

.area-2 {
    grid-column: 1;
    /* max-width: 22rem; */
    padding-inline: 0.5rem;
     width: 100%;

}

.area-2, .area-3 {
    height: auto;
    margin-bottom: 0.5rem;

}

.area-3, .area-1 {
    padding: 1.25rem;
    box-shadow: 0px 2px 7px black;
    border-radius: 1rem;
    display: flex;



}

.area-3 h1 {
    flex: 2 1 100%;
    text-align: center;
}

.result-container {
    animation: scale-in 1.1s linear;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    width: 100%;
    height: auto;

}

.filter-card {
    box-shadow: 0px 2px 7px black;
    border-radius: 1rem;
    padding: 0.5rem;
    animation: scale-in 1s linear;
    height: 100%;

}

#filterCollapse {
    height: 100%;
}

.submit-button {
    margin-top: 0.5rem;
    flex: 0 0 auto;
    width: 100%;
    animation: scale-in 1s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 5%;



}

@media (max-width:600px) {

    .area-2, .area-3 {
        grid-column: 1 / span 4;
    }

    .area-2 {
        place-self: center;
        /* min-width: 27rem; */
       

    }

    .filter-card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .filter-options {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    }

    #filterForm div:nth-child(1),
    #filterForm div:nth-child(4),
    #filterForm div:nth-child(5) {
        flex-basis: 17%;
    }
    #filterForm div:nth-child(2),
    #filterForm div:nth-child(3) {
        flex-basis: 13%;
    }



}

#resultsContainer.loading {
    opacity: 0.6;
    transition: opacity 0.3s ease;
}
.spinner-border {
    width: 3rem;
    height: 3rem;
}

