@import url('variables.css');


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.navbar{

    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: fixed;
    z-index: 5;
    display: flex;
    padding: 0 1rem;
    box-shadow: 1px 1px 2px black;
    flex-wrap: nowrap;

    

}


.navbar-logo {
    height: 4rem;
    display: inline;
    transition: transform 0.3s ease;
    float: left;
    margin-right: 1.5rem;
    position: relative;
    object-fit: contain;


}

.navbar a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar .fi {
    display: inline-block !important;
    width: 32px !important;      /* Main size control: Increase/decrease here */
    height: 24px !important;     /* 4:3 ratio: 24 * 0.75 = 18px */
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    vertical-align: middle !important;
    margin-right: 0.25rem !important;  /* Space before text */
    border-radius: 4px;
}

.lang-toggle {
  display: inline;
}

#languageToggle {
    /* background-color: rgba(255, 193, 7, 0.4); */
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function:
    cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    --tw-text-opacity: 1;
    color: rgb(229 229 229 / var(--tw-text-opacity, 1));
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 0.375rem;
    gap: 0.5rem;
    align-items: center;
    display: flex;
    z-index: 1001;
    /* left: 1.25rem;
    bottom: 10px;
    position: fixed; */
    padding:0.25rem;
    max-block-size: 2rem;
    max-inline-size: 7rem;
}

#languageToggle a {
    color: inherit;
    text-decoration: inherit;

}

.navbar-logo:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 0 rgb(255, 255, 255));
}

.navbar-menu {
    column-gap: 2rem;
}

.navbar ul {
    display: inline-flex;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}


.navbar ul li a:active{
    color: red;
}

.navbar ul li a:hover {
    color: #ffd500;
    text-shadow: black 0 0 1px;
}

.dropdown {
    display: none; 

}

.navbar ul li:hover .dropdown {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 4px 9px black;
}

.navbar ul li:hover .dropdown ul {
    display: block;
    margin-left: 1rem;
}

.navbar ul li:hover .dropdown ul li {
    width: 11rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted #fff;
    background: transparent;
    text-align: left;
    
}

.navbar ul li:hover .dropdown ul li:last-child{
    border-bottom: none;
}

.navbar ul li:hover .dropdown ul li a:hover {
    color: #ffd500;

}

.sub-menu {
    display: none;
    border-radius: 1rem;
}

.sub-dropdown:hover .sub-menu  {
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    left: 12.01rem;
    top: 7.37rem;
} 




.content {
    margin-top: 5rem;
}

@media (max-width:400px) {
    .navbar ul {
    font-size: x-small;
}
    .navbar-logo {
        height: 2rem;
    }
}
