
.search-bar {
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;

}

.search-bar .button {
    width: auto;
}

.search-bar input {
    background: #ffffff3b;
    border-radius: 0.5rem;
    padding: 0 6px 0 6px;
    width: 90%;
    text-shadow: 1px 0px 1px black;
    border: 1px groove white;
}

.search-bar input::placeholder {
color: rgba(255, 249, 205, 0.655);}

@media (max-width:480px ) {
    .search-bar input {
    width: 70%;
}

}

.search-bar-container {

}

