@import url('footer.css');

section {
    box-sizing: border-box;
    overflow:hidden;
    margin: 0rem 0 1rem 0;
}

.content-flex-1, .content-flex-2, .content-flex-3 {
    display: flex;
    padding-inline: 2rem;
    padding-block: 3rem;
    gap: 1rem;
    background-color: var(--yellow-90);
    box-shadow: 0px 0px 9px var(--yellow-dark-100);
    color: var(--yellow-80);
    align-items: center;
    transition: all ease 0.8s;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
    overflow:hidden;

}

.content-flex-1:hover, .content-flex-2:hover, .content-flex-3:hover {
    scale: 1.02;

}


.content-flex-1, .content-flex-2 {
    position: relative;
}

.content-flex-2 {
    flex-wrap: wrap;
    text-shadow: 0 0 2px gray;
}

#flex2-coverimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.content-flex-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)); /* Base darkening overlay */
    z-index: 1; 
    pointer-events: none; 
    transition: background ease 0.8s;
}

.item {
    position: relative; /* Ensures grid flow + layering */
    z-index: 2; /* Above overlay */
    font-size: 20px;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    justify-content: center;

}

@media (max-width: 470px) {
    .content-flex-1 .item, .content-flex-2 .item {
        font-size: 70%;

    }
    .content-flex-1 h2, .content-flex-2 h2 {
        font-size: 95%;
    }
}

