{% extends 'base.html' %} {% load static i18n tour_filters custom_filters wagtailcore_tags wagtailimages_tags%}
{% block title %}{{ self.title }}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/detail_page.css' %}" />
<body>
 <div class="detail-container">
  <div class="cover-image-container">
   <div class="cover-image">
    {% image self.cover_image original as img %}
    <img src="{{img.url}}" alt="Tour cover image" loading="lazy" />
   </div>
   <div class="cover-text">
    <h1>{{self.name}}</h1>
    <h2 class="cover-text-duration">
     {% if self.duration_days > 1 %}{{self.duration_days}} days,{% else %}{{self.duration_days}} day {% endif %}
     {% if not self.duration_days == 1 %}{{self.nights}} nights
     {% endif %}
    </h2>
    <a href="{{self.yt_vid}}" class="book-button conic-gradient-animation">Tour Video</a>
    {% comment %}
    <div class="tour-itinerary">View PDF Itinerary</div>
    {% endcomment %}
    <br />
    {% if not self.is_sold_out %}
    <div class="booking-actions">
     <a href="{% url 'bookings:booking_start' self.id %}" class="book-button conic-gradient-animation"> Book Now </a>
     <a href="https://api.whatsapp.com/send/?phone=593967359549&text=Hello%2C+I+am+interested+in+{{ self.name }}+from+your+webpage&type=phone_number&app_absent=0"
      class="book-button secondary">
      WhatsApp
     </a>
    </div>
    <p class="disclaimer">
      We'll contact you within 24 hours to confirm availability and next steps.</p>
      All dates and prices will always be subject to availability.
      {% else %}
    <button class="book-button disabled">Sold Out</button>
    {% endif %}
   </div>
   <div class="flex-container">
    {% if self.is_sold_out %}
    <div class="stickers sticker-1">SOLD OUT</div>
    {% endif %} {% if self.is_special_offer %}
    <div class="stickers sticker-2">Special Offer</div>
    {% endif %}
   </div>
  </div>
  <div class="data-container">
   <div class="tab-section">
    <div>
     <div class="tab-card">
      <nav class="section-nav">
       <ul id="tourTabs" role="tablist">
        <li class="nav-item" role="presentation">
         <a
          class="nav-link active"
          id="description-tab"
          data-bs-toggle="tab"
          href="#description"
          role="tab"
          aria-selected="true"
          >Description</a
         >
        </li>

        <li class="nav-item" role="presentation">
         <a
          class="nav-link"
          id="itinerary-tab"
          data-bs-toggle="tab"
          href="#itinerary"
          role="tab"
          aria-selected="false"
          tabindex="-1"
          >Itinerary</a
         >
        </li>

        <li class="nav-item" role="presentation">
         <a
          class="nav-link"
          id="amenities-tab"
          data-bs-toggle="tab"
          href="#amenities"
          role="tab"
          aria-selected="false"
          tabindex="-1"
          >Amenities</a
         >
        </li>

        <li class="nav-item" role="presentation">
         <a class="nav-link" id="notes-tab" data-bs-toggle="tab" href="#notes" role="tab" aria-selected="false" tabindex="-1"
          >Additional Notes</a
         >
        </li>

        <li class="nav-item" role="presentation">
         <a
          class="nav-link"
          id="pricing-tab"
          data-bs-toggle="tab"
          href="#pricing"
          role="tab"
          aria-selected="false"
          tabindex="-1"
          >Pricing &amp; Details</a
         >
        </li>
        <li class="nav-item" role="presentation">
         <a
          class="nav-link"
          id="cxl-policy-tab"
          data-bs-toggle="tab"
          href="#cxl-policy"
          role="tab"
          aria-selected="false"
          tabindex="-1"
          >CXL Policy</a
         >
        </li>
       </ul>
      </nav>
      <hr />
      <div class="tab-content">
       <!-- Description -->
       <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
        {% for block in page.description_content %} 
        {% include_block block %} 
        {% endfor %} 
        <h2>Description</h2>
        <p id="tour-id">{{self.description|richtext}}</p>
        <p><strong>Destination:</strong> {{self.destination}}</p>
        <p><strong>Hotel:</strong> {{self.hotel}}</p>
        <p><strong>Dates:</strong> {{self.start_date}} - {{self.end_date}}</p>
        <p><strong style="font-size:Large; color: Red">Not Included:</strong> {{self.no_inclusions|richtext}}</p>
       </div>
      <!-- Itinerary -->
      <div class="tab-pane fade hidden" id="itinerary" role="tabpanel" aria-labelledby="itinerary-tab">
          <nav class="section-nav">
              <ul id="itinerary-days" role="tablist">
                  {% for block in self.itinerary %}
                  <li class="nav-item" role="presentation">
                      <a
                          class="nav-link {% if forloop.first %}active{% endif %}"
                          id="day-{{ block.value.day }}-tab"
                          data-bs-toggle="tab"
                          href="#day-{{ block.value.day }}"
                          role="tab"
                          aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
                          tabindex="{% if forloop.first %}0{% else %}-1{% endif %}"
                          >Day {{ block.value.day }}</a>
                  </li>
                  {% endfor %}
              </ul>
          </nav>
          <hr />
          <h2>Itinerary</h2>
          <div class="tab-content">
              {% for block in self.itinerary %}
              <div
                  class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                  id="day-{{ block.value.day }}"
                  role="tabpanel"
                  aria-labelledby="day-{{ block.value.day }}-tab"
              >
                  <h3>Day {{ block.value.day }}</h3>
                  <p>{{ block.value.description }}</p>
                  <h4>Highlights</h4>
                  <ul>
                      <li>{{ block.value.highlight|richtext }}</li>
                  </ul>
              </div>
              {% endfor %}
          </div>
      </div>

       <!-- Amenities -->
       {% if self.amenity %}
       <div class="tab-pane fade hidden" id="amenities" role="tabpanel" aria-labelledby="amenities-tab">
        <h2>Amenities</h2>

        {% if amenity_labels %}
        <ul>
         {% for label in amenity_labels %}
         <li>{{ label }}</li>
         {% endfor %}
        </ul>
        {% else %}
        <p>No amenities.</p>
        {% endif %} {% endif %}
       </div>
       <!-- Optional Activities -->
       <div class="tab-pane fade hidden" id="notes" role="tabpanel" aria-labelledby="notes-tab">
        <h2>Additional Notes</h2>
        <p>{{self.additional_notes|richtext}}</p>
       </div>

       <!-- Flight Details -->

       <!-- Pricing & Details -->
       <div class="tab-pane fade hidden" id="pricing" role="tabpanel" aria-labelledby="pricing-tab">
        <h2>Pricing &amp; Details</h2>
        <table class="pricing-table" aria-describedby="pricing-details">
         <thead>
          <tr>
           <th scope="col">Category</th>
           <th scope="col">Details</th>
           <th scope="col">Notes</th>
          </tr>
         </thead>
         <tbody>
          <tr>
           <th scope="row">Duration</th>
           <td> {% if self.duration_days > 1 %}{{self.duration_days}} days,{% else %}{{self.duration_days}} day {% endif %}
                 {% if not self.duration_days == 1 %}{{self.nights}} nights
                 {% endif %}</td>
           <td></td>
          </tr>

          <tr>
           <th scope="row">Status</th>
           <td> {% if self.is_sold_out %}
               SOLD OUT
                {% endif %} {% if self.is_special_offer %}
                Special Offer
                {% endif %}
                </td>
           <td></td>
          </tr>
          {% if self.pricing_type == 'Per_person' %}
          <tr>
           <th scope="row">Price per person</th>
           <td>
            <span class="price">
             ${{self.price_adult}} USD
             <span class="currency-symbol"></span>
            </span>
           </td>
           <td>{{self.price_subtext}}</td>
          </tr>
          
          {% endif %}

          {%if not self.price_adult > 0 %}
          {%if self.price_sgl %}
          <tr>
           <th scope="row">Single</th>
           <td>${{self.price_sgl}} USD <span class="currency-symbol"></span></td>
           <td></td>
          </tr>
          {%endif%}
            {%if self.price_dbl %}
            <tr>
           <th scope="row">Double</th>
           <td>${{self.price_dbl}} USD <span class="currency-symbol"></span></td>
           <td></td>
          </tr>
          {% endif %}
          {%if self.price_tpl %}
          <tr>
           <th scope="row">Triple</th>
           <td>${{self.price_tpl}} USD <span class="currency-symbol"></span></td>
           <td></td>
          </tr>
          {% endif %}
          {% endif %}
            {% if not self.price_chd is None or 0 %}
          <tr>
           <th scope="row">Child</th>
           <td>${{self.price_chd}} USD <span class="currency-symbol"></span></td>
           <td></td>
          </tr>
          {% endif %}
            {% if not self.price_inf is None or 0 %}
            <tr>
           <th scope="row">Infant</th>
           <td>${{self.price_inf}} USD <span class="currency-symbol"></span></td>
           <td></td>
          </tr>
        {% endif %}
          <tr>
           <th scope="row">Currency</th>
           <td>USD</td>
           <td></td>
          </tr>
         </tbody>
        </table>
       </div>
       <!-- CXL Policies -->
       <div class="tab-pane fade hidden" id="cxl-policy" role="tabpanel" aria-labelledby="cxl-policy-tab">
        <h2>CXL Policy</h2>
        {% if self.cxl_policies %}
            {{ self.cxl_policies|richtext }}
        {% else %}
            <p>No Cancellation policies specified.</p>
        {% endif %}
       </div>
       <!-- Cancellation Policy -->
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</body>

<script src="{% static 'js/tour_detail.js' %}"></script>
{% endblock %}
