{% load static wagtailcore_tags %} 
{% block content %}

<link rel="stylesheet" href="{% static 'css/search_bar.css' %}">

<form action="{% url 'search' %}" method="get" class="search-bar">
 <input type="text" placeholder="i.e: Cuenca" name="query" {% if search_query %} value="{{ search_query }}" {% endif %} />
 <input type="submit" value="Search" class="button" /> 
</form>
{% comment %} <p style="color:white">Don't know what to look for? Go to >> <a style="text-shadow: 0px 0px 1px white" href="tours/land-tours">Land Tours</a></p> {% endcomment %}
<p style="color:white">{{settings.site_settings.BrandSettings.search_suggestion|richtext}}</p>

{% if search_results %}
<ul>
 {% for result in search_results %}
 <li>
  <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
  {% if result.search_description %} {{ result.search_description }} {% endif %}
 </li>
 {% endfor %}
</ul>

{% if search_results.has_previous %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
{% endif %} {% if search_results.has_next %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
{% endif %} {% elif search_query %} No results found {% endif %} {% endblock %}
