


.post-container {
    width: auto;
    padding: 1rem;
    text-align: center;

}



.post-container h1 {
    font-family: math;
    box-shadow: 0 0 3px black;
    display: inline;
    padding-inline: 1rem;
    border-radius: 1rem;
}

.post-wrapper {
    gap: 0.6rem;
    width: 100%;
    display: grid;
    justify-content: center;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
}



@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

.post-wrapper a {
    flex-basis: 30%;
}

.post-card {
    position: relative;
    width: 100%;
    height: auto;
    max-height: inherit;
    transition: all 0.3s ease-in;
}

.post-card::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 0.1rem;
    border-radius: 2rem;
    filter: blur(3px);
    background-image: conic-gradient(from var(--angle), rgb(0, 0, 0), rgba(255, 0, 0, 0), rgba(0, 255, 64, 0), rgb(227, 255, 179));
    animation: 5s spin linear infinite;

}

@keyframes spin {
        from {
            --angle: 0deg;
        }
        to {
            --angle: 360deg;
        }
    }
    

.post-card:hover {
    scale: 1.05;
}

.post-desc {
    position: absolute;
    color: white;
    top: 15rem;
    align-self: anchor-center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 100;

    
}

.post-date {
    flex-basis: 33%;
}


.author-info {
    display: flex;
    flex-basis: 60%;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    
    
}

.author-name, .post-date {
    font-size: small;
}

.author-pic {
    border-radius: 1rem;
}
.post-cover {
    height: 45vh;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: 0 0.7rem 0.6rem black;
}

.post-image-overlay {
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.697) 20%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    opacity: 0.9;
    
   
}

.post-title {
    margin: 0.7rem;
    width: 100%;
    font-size: 1.1rem;
    text-align: justify;
}


@media (max-width: 450px) {
    .post-wrapper {
        gap: 0.5rem;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 300px) {
    .post-wrapper {
        gap: 0.4rem;
        grid-template-columns: 1fr;
    }
    .post-title {
        margin: 0.6rem;
        width: 100%;
        font-size: 0.6rem;
        text-align: justify;
    }
    .post-date, .author-name {
        font-size: 0.5rem;
    }
}
