
/* Basic swipers */

.basic-swiper-container {
    width: 100%;
    overflow: hidden;
    min-width: 27rem;

}

.swiper-slide {
    text-align: center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
    height: auto !important;
}

.swiper-slide img {
    width: 95%;
    height: 100%;
    object-fit: cover;
    max-height: 27rem;
    
}

.swiper-wrapper {
    height: 30rem;
}

.swiper-pagination {
    bottom: 43% !important;
}

@media (max-width:600px) {
    .swiper-pagination {
    min-width: 27rem;
    bottom: 36% !important;
}
    
}
