
/* Basic swipers */

.basic-swiper-container {
    width: 100%;
    overflow: hidden;
    

}

.swiper-slide {
    text-align: center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
    height: auto !important;
}

.swiper-slide img {
    width: 95%;
    height: 100%;
    object-fit: cover;
    max-height: 18rem;
    
    
}

.swiper-wrapper {
    height: 30rem;
}

