
/* Basic swipers */

.basic-swiper-container {
    width: 100%;
    overflow: hidden;
    min-width: 27rem;
    position: relative;

}

.basic-swiper-container h1 {
    position: absolute;
    color: white;
    z-index: 2;
    font-family: Style Script, cursive;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.9);
    font-size: 5.5rem;
    animation: blur-fadein ease-in 2s;
    place-self: anchor-center;
}

.swiper-slide {
    text-align: center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
    height: auto !important;
}

.swiper-slide img {
    width: 95%;
    height: 100%;
    object-fit: cover;
    max-height: 27rem;
    
}

.swiper-wrapper {
    height: 30rem;
}

.swiper-pagination {
    bottom: 43% !important;
}

@media (max-width:600px) {
    .swiper-pagination {
    min-width: 27rem;
    bottom: 36% !important;
}
    
}


.caption {
    position: absolute;
    font-size: xx-large;
    color: white;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.9);
    bottom: 0;
    justify-self: center;
    font-variant: small-caps;
    animation: blur-fadein ease-in 1s;
    

}