.framed-swiper-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

.framed-swiper-container .swiper-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

.framed-swiper-container svg {
    width: 0;
    height: 0;
}

.framed-swiper-container h1 {

    position: absolute;
    color: white;
    z-index: 2;
    font-family: Style Script, cursive;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.9);
    font-size: 5.5rem;
    animation: blur-fadein ease-in 2s;
    place-self: anchor-center;
}

.framed-swiper-container h2 {
    color: white;
    font-variant: small-caps;
}



.framed-swiper-container .swiper-wrapper .swiper-slide {
    text-align: center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
    height: 30rem;
}

.framed-swiper-container .swiper-wrapper .swiper-slide img {
    width: 95%;
    height: 100%;
    object-fit: cover;
    max-height: 23rem;
    
    
}

.framed-swiper-container .swiper-wrapper .swiper-wrapper {
    height: 30rem;
} 

.framed-swiper-container .swiper-wrapper .swiper-slide::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 82%;
    border: 18px solid #ffffff;
    filter: url(#mask);
    z-index: 1;
    transform: translate(-1%, 10%);

}


.framed-swiper-container .swiper-wrapper .swiper-slide:nth-child(2n){
    rotate: -5deg;
    transition: 0.7s ease;

}

.framed-swiper-container .swiper-wrapper .swiper-slide:nth-child(2n + 1){
    rotate: 8deg;
    transition: 0.7s ease;
}

.framed-swiper-container .swiper-wrapper .caption {
    position: absolute;
    font-size: xx-large;
    color: white;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.9);
    bottom: 0;
    justify-self: center;
    font-variant: small-caps;
    animation: blur-fadein ease-in 1s;
    z-index: 1;

}
