{% extends "links.html" %}
{% load static i18n dict_tags navbar_tags wagtailcore_tags wagtailimages_tags%}

<link rel="stylesheet" href='{% static "css/card_style.css" %}'/>
  
<div
   id="cardContainer"
   class="card-container">
   <div class="card">
    <!-- Top Card Side-->
    <div class="image-zone">
      {% image self.image fill-315x200 as img %}
      <img src="{{img.url}}" alt="">
      {% for tag in self.tags  %}
      <div class="new-sticker">{{tag.top_tag_1}}</div>
      <div class="special-offer-sticker">{{tag.top_tag_2}}</div>
      <div class="card-country">{{tag.center_right_tag_1}}</div>
      <div class="card-location">{{tag.center_right_tag_2}}</div>
       {% endfor %}
    </div>
      <!-- Bottom Card Side-->
      <div class="text-zone">
         <div class="card-subtitle cell-1">{{self.sub_title}}</div>
      {% if self.title %}
      <div class="card-title cell-2">{{self.title}}</div>
      {% endif %}
     <div class="card-description cell-3">
      {{self.card_description}}
     </div>
      <div class="card-amenities cell-4 grid-7-c">
      <!-- DEBUG: Total amenities: {{ self.amenities|length }} (remove after test) -->
      {% for amenity in self.amenities %}
         {% include_block amenity %}  <!-- Auto-renders amenity_item.html with bound self -->
      {% empty %}
         <i class="card-icon fa-question" title="No amenities specified"></i>
      {% endfor %}
      </div>
   </div>
     <div class="flex-box">
      <div class="card-price cell-5">${{self.price}}</div>
         <p class="estimated-text">{{self.price_subtext}}</p>
     </div>
     <button class="card-button conic-gradient-animation">Book</button>
    </div>
   </div>
   </div>
  </div>
</div>
