{% load static i18n dict_tags navbar_tags wagtailcore_tags wagtailimages_tags %}

<link rel="stylesheet" href="{% static 'css/carousel.css' %}" />
<section class="carousel-container">
 <div class="slider-wrapper">
  <div class="carousel-title">
    {% if self.carousel_subtitle %}
   <h2>{{ self.carousel_subtitle }}</h2>
   {% endif %}
   <h1>{{ self.carousel_title }}</h1>
   {% if self.search_bar == True %}
      <!--Search Bar -->
    {% include "search/search_bar.html" %}
    {% endif %}
  </div>
  <div class="slider">
  {% for item in value.carousel %}
  <div class="slide-overlay-block">
   {% image item.image fill-1265x712 as img %}
   {% if item.link %}
    <a href="{{ item.link.url }}">
   {% endif %}
      <img
      height=""
      width=""
      src="{{ img.url }}"
      alt="{{ item.caption|default:'Carousel image' }}"
      id="slide-{{ forloop.counter }}"
      loading="lazy"
      />
    {% if item.link %}</a>{% endif %}
   <div class="slide-overlay"></div>
  </div>
  {% empty %}
   <div class="slide-overlay-block">
    <img src="{% static 'default_media/azuay.jpg' %}" alt="{{ item.caption|default:'Carousel image' }}"
     id="slide-1"
     loading="lazy"
     height=""
     width=""
     >
    <div class="slide-overlay"></div>
   </div>
  {% endfor %}
</div>

<div class="slider-nav nav-fade-in">
    {% for item in value.carousel %}
    <a href="#slide-{{ forloop.counter }}" aria-label="swiper navigation"></a>
    {% empty %}
    <a href="#slide-1" aria-label="swiper navigation"></a>
    {% endfor %}
   </div>
 </div>
</section>
<script src="{% static 'js/carousel.js' %}"></script>
