
{% load static wagtailimages_tags custom_filters wagtailcore_tags %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/callToActions.css' %}">
{% endblock extra_css %}
{% block content %}
<section class="cta-section" style="background-color: var({{ self.background_color }});">
    {% if self.image_position == "top" %}
        {% if self.image %}
        <div class="cta-image-container">
            {% image self.image original as img %}
            <img src="{{ img.url }}" 
            alt="{{ self.caption }}"
            height=""
            width=""
            >
            <p class="caption-zoom">{{ self.caption }}</p>
        </div>
        {% endif %}
    {% endif %}
    {% if self.include_cta == True %}
    <div class="basic-cta-container">
        <div class="top-text-side">
            <h1>{{ self.cta_title }}</h1>
            <p>{{ self.cta_description }}</p>
        </div>
        <a href="{{ self.button_link_1 }}">
            <div class="action-button">{{ self.button_1_text }} <bold>&#8594</bold>
            </div>
        </a>
        <a href="{{ self.button_link_2 }}">
            <div class="action-button-2">{{ self.button_2_text }}</div>
            </a>
        <ul class="list-container">
        {% for item in block.value.list %}
            <li>{{ item.element }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if self.image_position == "bottom" %}
        {% if self.image %}
        <div class="cta-image-container">
            {% image self.image original as img %}
            <img src="{{ img.url }}" 
            alt="{{ self.caption }}"
            height=""
            width=""
            >
            <p class="caption-zoom">{{ self.caption }}</p>
        </div>
        {% endif %}
    {% endif %}
</section>
{% endblock content %}
{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", () => {

        gsap.registerPlugin(ScrollTrigger, SplitText);
        let tl = gsap.timeline({
            scrollTrigger: ".basic-cta-container",
            scrub: 1,
            start: "top top",
        });
        tl.fromTo('.cta-section', {backgroundColor: "red", scale: 0}, { x: 0, opacity: 1, duration: 1, ease: "power1.inOut", scale: 1, backgroundColor: "#282828"},
        ).fromTo('.action-button', { y: "random(-500, 900)", opacity: 0 }, { y: 0, opacity: 1, duration: 0.2, ease: "power1.inOut", },
        ).fromTo('.action-button-2', { x: "random(-800, 400)", opacity: 0 }, { x: 0, opacity: 1, duration: 0.1, ease: "power1.inOut", }
        ).fromTo('.top-text-side', { x: "random(-900, 500)", opacity: 0 }, { x: 0, opacity: 1, duration: 0.3, ease: "power1.inOut", }
        ).fromTo('.cta-image-container', { x: "random(-100, 200)", scale: 0, opacity: 0 }, { x: 0, opacity: 1, scale: 1, duration: 0.6 }
        ).to('.cta-section', { scale: 1.01, repeat: -1, yoyo: true, duration: 2, ease: "power1.inOut"});
        document.fonts.ready.then(() => {
        SplitText.create(".list-container li", 
            {type: "words",
            onSplit(self) {
                tl.from(self.words, {
                    autoAlpha: 0,
                    scale: 5,
                    x: "random(-220, 600)",
                    y: "random(-420, 100)",
                    stagger: 0.05,
                    duration: 0.6,
                    ease: "power1.inOut",
                }, 0.7
                ).to(self.words, {color: "rgb(255, 192, 192)", y: -5, stagger: 0.11, repeat: -1, yoyo: true,
                    onComplete: () => self.revert()
                });
            },
            
            });
            SplitText.create(".top-text-side", 
            {type: "words, chars",
            onSplit(self) {
                tl.from(self.words, {
                    autoAlpha: 0,
                    scale: 5,
                    x: "random(-220, 600)",
                    y: "random(-420, 100)",
                    stagger: 0.05,
                    duration: 0.6,
                    ease: "power1.inOut",
                }, 0.5
                ).to(self.chars, {x: -4, stagger: 0.04, repeat: -1, yoyo: true,
                    onComplete: () => self.revert()
                });
            },
            
            });
        });

        })
</script>
{% endblock extra_js %}

