{% load static wagtailimages_tags custom_filters wagtailcore_tags %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/explore_block.css' %}" />
{% endblock extra_css %}
<section class="explore-section">
 <div class="explore-container">
  <h1 class="explore-title capitalize">
   {% with words=self.title|striptags|split:" " %} {% for word in words %} {% if forloop.counter0 == 2 %}
   <!-- Third word (0-based index) -->
   <span class="highlight">{{ word }}</span>
   {% else %} {{ word }} {% endif %} {% if not forloop.last %} {% endif %}
   <!-- Space between words -->
   {% endfor %} {% endwith %}
  </h1>

  <div class="separator">
   <span aria-label="decorator"></span>
   <span aria-label="decorator"></span>
   <span aria-label="decorator"></span>
  </div>

  <div class="explore-content">
   <div class="explore-content-grid">
    {% for item in block.value.body %}
    <div class="explore-content-item">
     <span>
      {% image item.icon_1 fill-100x100 format-gif class="w-8 h-8" alt="{{ item.icon_alt_text }}" loading="lazy" %}
     </span>
     <h1> {{ item.subtitle_1 }}</h1>
     {{ item.text_1 }}
    </div>
    <div class="explore-content-item">
     <span>
      {% image item.icon_2 fill-100x100 class="w-8 h-8" alt="{{ item.icon_alt_text }}" loading="lazy" %}
     </span>
     <h1>{{ item.subtitle_2 }}</h1>
     {{ item.text_2 }}
    </div>
    <div class="explore-content-item">
     <span>
      {% image item.icon_3 fill-100x100 class="w-8 h-8" alt="{{ item.icon_alt_text }}" loading="lazy" %}
     </span>
     <h1>{{ item.subtitle_3 }}</h1>
     {{ item.text_3 }}
    </div>
    <div class="explore-content-item">
     <span>
      {% image item.icon_4 fill-100x100 class="w-8 h-8" alt="{{ item.icon_alt_text }}" loading="lazy" %}
     </span>
     <h1>{{ item.subtitle_4 }}</h1>
     {{ item.text_4 }}
    </div>
    {% endfor %}
    <div>
     {% image self.image fill-1400x1400 alt="{{ self.image_alt_text }}" loading="lazy" %}
    </div>
   </div>
  </div>
 </div>
</section>
