{% load static i18n dict_tags navbar_tags wagtailcore_tags wagtailimages_tags %}
{% block extra_css %}
<style>
  .fade-image, .fade-swiper-section .swiper {
    height: {{ self.height }}rem !important;
}
</style>
{% endblock extra_css %}
{% block content %}
<section class="fade-swiper-section">
<div class="fade-swiper-container swiper">
      <div class="fade-title">
    {% if self.fade_subtitle %}
   <h2>{{ self.fade_subtitle }}</h2>
   {% endif %}
   <h1>{{ self.fade_title }}</h1>
   {% if self.search_bar == True %}
      <!--Search Bar -->
    {% include "search/search_bar.html" %}
    {% endif %}
  </div>
    <div class="swiper-wrapper">
        {% for item in value.images %}
        <div class="swiper-slide">
            {% image item.image fill-1920x1080 format-webp webpquality-60 fetchpriority="high" loading=lazy alt="{{ item.caption }}" class="fade-image" %}
            {% if item.link %}
            <a href="{{ item.link.url }}"></a>
            {% endif %}
            {% if item.caption %}
            <p class="caption">{{ item.caption }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
<div class="swiper-pagination"></div>
</div>
</section>
{% endblock content %}