{% load static wagtailimages_tags custom_filters wagtailcore_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/flex_images.css' %}"/>
{% endblock extra_css %}
<!-- Images that appears based on the destination -->
<section>
    <div id="flex-images-container" class="flex-images-container">
        <h1>{{ page.title }}</h1>
        <div id="image">
            {% for item in block.value.image_caption %}
            <div id="image-cont" class="image-cont transparent-lines image-container-0">
                {% image item.image original as img %}
                <img src="{{ img.url }}" class="flex-image" 
                height=""
                width=""
                loading="lazy"
                alt="Picture of {{ item.caption }}">
                <p class="caption">
                    <a href="{% if request.GET.destination == '{{ item.caption }}' %}https://www.milanotravel.com.ec/en/tours/?tour_type=&status=&destination={{ item.caption }}{% endif %}">
                        {{ item.caption }}
                    </a>
                </p>
                <div class="lines"></div>
            </div>
            {% endfor %}
        </div>
    </div>
{% comment %} <script src="js/flex_images.js"></script> {% endcomment %}
</section>