{% load static wagtailimages_tags wagtailcore_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/gridded_images.css' %}"/>
{% endblock extra_css %}
{% block content %}
<section>
    <div class="squared-container">
        <div class="grid-wrapper">
            {% for item in self.images %}
            <a href="{% if self.link %}{{ self.link }}{% else %}{% url 'wagtail_serve' '' %}{% endif %}">
            <div class="image-container">
                <h1 class="image-caption">
                    {{ item.caption }}
                </h1>
            {% image item.image fill-1920x1080 format-webp webpquality-80 loading="lazy" alt="{{ item.caption }}" %}
            </div>
        </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
