{% load static wagtailimages_tags wagtailcore_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/gridded_images.css' %}"/>
{% endblock extra_css %}
{% block content %}
<section>
    <div class="squared-container">
        <div class="grid-wrapper">
            {% for item in self.images %}
            <div class="image-container">
                <a href="{% if item.link.url %}{{ item.link.url }}{% else %}{% url 'wagtail_serve' '' %}{% endif %}">
                    <h1 class="image-caption">
                        {{ item.caption }}
                    </h1>
                {% image item.image fill-1920x1080 format-webp webpquality-80 loading="lazy" alt="{{ item.caption }}" %}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
