{% load static wagtailimages_tags custom_filters wagtailcore_tags %}
{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />
{% endblock extra_css %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
{% endblock extra_js %}

{% if self.variations == 'thumbnail' %}
<link rel="stylesheet" href="{% static 'css/swipers/thumb_swiper.css' %}"/>
<section>
    <div class="swiper thumb-swiper1-container">
        {% if self.swiper_title %}
        <h1> {{ self.swiper_title }} </h1>
        {% endif %}
        <div class="swiper-wrapper">
            {% for item in value.images %}
            <div class="swiper-slide">
                {% image item.image original as img %}
                   {% if item.link %}
                    <a href="{{ item.link.url }}"></a>
                {% endif %}
                <img
                height=""
                width=""
                src="{{ img.url }}"
                alt="{{ self.caption|default:'Swiper images' }}"
                id="slide-{{ forloop.counter }}"
                />
                <p class="caption">{{ item.caption }}</p>
            </div>
            {% empty %}
                <p>No images found. Please go to the admin panel to add them.</p>
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <div class="swiper thumb-swiper2-container">
        <div class="swiper-wrapper">
            {% for item in value.images %}
            <div class="swiper-slide">
                {% image item.image original as img %}
                   {% if item.link %}
                    <a href="{{ item.link.url }}"></a>
                {% endif %}
                <img
                height=""
                width=""
                src="{{ img.url }}"
                alt="{{ item.caption|default:'Swiper images' }}"
                id="slide-{{ forloop.counter }}"
                />
            </div>
            {% empty %}
                <p>No images found. Please go to the admin panel to add them.</p>
            {% endfor %}
        </div>            
    </div>
    <script src="{% static 'js/swipers/thumb_swiper.js' %}"></script>
</section>
{% elif self.variations == 'basic' %}
<link rel="stylesheet" href="{% static 'css/swipers/basic_swiper.css' %}"/>
<section>
    <div class="basic-swiper-container swiper">
        {% if self.swiper_title %}
        <h1>{{ self.swiper_title }}</h1>
        {% endif %}
        <div class="swiper-wrapper">
            {% for item in value.images %}
            <div class="swiper-slide">
                {% image item.image original as img %}
                   {% if item.link %}
                    <a href="{{ item.link.url }}"></a>
                {% endif %}
                <img
                height=""
                width=""
                src="{{ img.url }}"
                alt="{{ item.caption|default:'Swiper images' }}"
                id="slide-{{ forloop.counter }}"
                loading="lazy"
                />
                <p class="caption">{{ item.caption }}</p>
            </div>
            {% empty %}
                <p>No images found. Please go to the admin panel to add them.</p>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
<script src="{% static 'js/swipers/basic_swiper.js' %}"></script>
</section>
{% elif self.variations == 'framed' %}
<link rel="stylesheet" href="{% static 'css/swipers/framed_swiper.css' %}"/>
 <section>
    <div class="framed-swiper-container">
        {% if self.swiper_title %}
        <h1>{{ self.swiper_title }}</h1>
        {% endif %}
        <div class="swiper-wrapper">
            {% for item in value.images %}
            <div class="swiper-slide">
                {% image item.image original as img %}
                   {% if item.link %}
                    <a href="{{ item.link.url }}"></a>
                {% endif %}
                <img
                height=""
                width=""
                src="{{ img.url }}"
                alt="{{ item.caption|default:'Swiper images' }}"
                id="slide-{{ forloop.counter }}"
                loading="lazy"
                />
            <p class="caption">{{ item.caption }}</p>
            </div>
            {% empty %}
                <p>No images found. Please go to the admin panel to add them.</p>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <svg>
            <filter id="mask">
                <feturbulence x="0" y="0" baseFrequency="0.02" numOctaves="5" seed="6"></feturbulence>
                <feDisplacementMap in="SourceGraphic" scale="20" />
            </filter>
        </svg>
        </div>
<script src="{% static 'js/swipers/framed_swiper.js' %}"></script>
</section>
{% elif self.variations == 'collage' %}
<link rel="stylesheet" href="{% static 'css/swipers/collage_swiper.css' %}">
<!--Collage Swiper-->
<section class="collage-grid-container">
    <div class="swiper collage-swiper1-container">
        {% if self.swiper_title %}
        <h1 class="collage-title">{{ self.swiper_title }}</h1>
        {% endif %}
        <div class="swiper-wrapper">
            {% for item in value.images %}
            <div class="swiper-slide">
                {% image item.image original as img %}
                   {% if item.link %}
                    <a href="{{ item.link.url }}"></a>
                {% endif %}
                <img
                height=""
                width=""
                src="{{ img.url }}"
                alt="{{ item.caption|default:'Swiper images' }}"
                id="slide-{{ forloop.counter }}"
                loading="lazy"
                />
            </div>
            <p class="caption">{{ item.caption }}</p>
            {% empty %}
            <p>No images found. Please go to the admin panel to add them.</p>
            {% endfor %}
        </div>
        <div class="swiper-nav">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>     
        </div> 
    </div>
    <div class="swiper collage-swiper2-container">
        <div class="swiper-wrapper grid-thumb">
            {% for item in value.images %}
            <div class="swiper-slide">
                {% image item.image original as img %}
                   {% if item.link %}
                    <a href="{{ item.link.url }}"></a>
                {% endif %}
                <img
                height=""
                width=""
                src="{{ img.url }}"
                alt="{{ item.caption|default:'Swiper images' }}"
                id="slide-{{ forloop.counter }}"
                loading="lazy"
                />
            </div>
            {% empty %}
                <p>No images found. Please go to the admin panel to add them.</p>
            {% endfor %}
        </div>
    </div>
<script src="{% static 'js/swipers/collage_swiper.js' %}"></script>
</section>
{% endif %}
