{% load static i18n dict_tags navbar_tags wagtailcore_tags wagtailimages_tags %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/text_bands.css' %}"/>
{% endblock extra_css %}

<section class="flex-section">
{% if self.background_image %}
 <div class="content-flex-1" style="background: linear-gradient( var({{ self.background_color }}));">
   {% image self.background_image fill-1920x1080 format-webp webquality-80 as img %}
   <img id="flex2-coverimg" 
   loading="lazy"
   height=""
   width=""
   src="{{ img.url }}" 
   alt="Textblock background image" />
  <div class="item">
   <h2>{{ self.band_title }}</h2>
  </div>
  <div class="item">{{ self.textbox_1|richtext }}</div>
  <div class="item">{{ self.textbox_2|richtext }}</div>
 </div>
 {% else %}
  <div class="content-flex-2" style="background: linear-gradient(var({{ self.background_color }}));">
  <div class="item">
   <h2>{{ self.band_title }}</h2>
  </div>
  <div class="item">{{ self.textbox_1|richtext }}</div>
  <div class="item">{{ self.textbox_2|richtext }}</div>
  {% if self.social_media_icon %}
    {% if social_links %}
    <div class="social-media-wrap">
        {% for link in social_links %}
        <button type="button">
            <a href="{{ link.url }}" class="{{ link.icon }}" 
               {% if link.color %}style="color: {{ link.color }}"{% endif %}>
                <!-- Optional: Add aria-label for accessibility, e.g., aria-label="{{ link.field|title }} link" -->
            </a>
        </button>
        {% endfor %}
    </div>
    {% endif %}
  {% endif %}
 </div>
 {% endif %}
</section>
{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        gsap.registerPlugin(ScrollTrigger, SplitText);
        let tl = gsap.timeline({
            scrollTrigger: ".flex-section",
            scrub: 1,
            start: "top top",
        });

        tl.to('.flex-section', {
            scale: 0.99,
            boxShadow: '0 0 1rem black',
            duration: 2,
            repeat: -1,
            yoyo: true,
            ease: "power1.inOut",
        });
        document.fonts.ready.then(() => {
            SplitText.create(".item", 
                {type: "words",
                onSplit(self) {
                    tl.from(self.words, {
                        autoAlpha: 0,
                        scale: 0,
                        x: "random(-220, 300)",
                        y: "random(-120, 100)",
                        stagger: {
                            grid: 'auto',
                            from: 'center',
                            each: 0.15,
                        },
                        duration: 0.4,
                        ease: "power1.inOut",
                        onComplete: () => self.revert()
                    },);
                },
                });
            });
    });
</script>
{% endblock extra_js %}