{% load wagtailcore_tags %}

<style>
    .rich-text-section  {
        text-align: justify;
        box-shadow: 0 0 0.5rem black;
        padding: 1rem;
        border-radius: 1rem;
        margin-block: 7vw;
        margin-inline: 10vw;
        }

    .rich-text-section ul {
        list-style-type: circle;
        margin-inline: 2rem;
    }

    .rich-text-section blockquote {
        background-color: #ddc264;
        color: white;
        border-left: 3px solid black;
        border-left-style: groove;
        padding-inline: 0.7rem;
        border-radius: 0.7rem 0 0.7rem 0;
        font-size: large;
        text-shadow: 0 0 0.7px black;
        margin: 1vw;

    }

    .rich-text-section img {
        width: 100%;
        height: auto;
        border-radius: 2rem;
        box-shadow: 0 0 0.5rem black;
    }

    @media (max-width:500px) {
        .rich-text-section  {
            font-size: xx-small;
        }
        .rich-text-section blockquote {
            font-size: x-small;
        }
        .rich-text-section h1  {
            font-size: calc(0.8rem + 1vw);
        }
        .rich-text-section h1  {
            font-size: calc(1rem + 1vw);
        }
        .rich-text-section h2  {
            font-size: calc(0.7rem + .9vw);;
        }

        .rich-text-section h3  {
            font-size: calc(0.5rem + .8vw);;
        }

        .rich-text-section h4  {
            font-size: calc(0.3rem + .7vw);;
        }
        .rich-text-section h5  {
            font-size: calc(0.4rem + .5vw);;
        }

    }
</style>

<section class="rich-text-section {% if value.custom_class %}{{ value.custom_class }}{% endif %}">
    {{ value.content|richtext }}
</section>