body {
    margin: 0;
}

.flex-images-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

#image {
    /* height: 18rem; */
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;

    
    
}



img {
    object-fit: cover;
    width: stretch;
    overflow: hidden;

    
    /* width 431.65px 288height  */
}

.image-cont {
    overflow: hidden;
    display: flex; 
    width: stretch; 
    position: relative; 
    justify-content: end;
    max-height: 30rem;

}



.image-cont::after {
    
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)); /* Base darkening overlay */
    z-index: 1; /* Above image (z=0), below content (z=2) */
    pointer-events: none; /* Allows hover/clicks to pass through */
}



.lines {

    width: 4px;
    height: stretch;
    position: absolute;
    display: flex;
    background: rgba(253, 255, 192, 0.25);
    top: -60;
    left: 0;
    z-index: 2;
    filter: blur(1px);
    box-shadow: 
        0.5rem 0 rgba(253, 255, 192, 0.20),
        1.0rem 0 rgba(253, 255, 192, 0.15), 
        1.5rem 0 rgba(253, 255, 192, 0.10),
        2.0rem 0 rgba(253, 255, 192, 0.05), 
        -0.5rem 0 rgba(253, 255, 192, 0.20),
        -1.0rem 0 rgba(253, 255, 192, 0.15), 
        -1.5rem 0 rgba(253, 255, 192, 0.10),
        -2.0rem 0 rgba(253, 255, 192, 0.05); 
    transform-box: border-box;
    transform: rotate(25deg);
    scale: 1.2;

}

.caption {
    font-variant: small-caps;
    background: aliceblue;
    padding: 3px;
    border-radius: 0.5rem 0 0 0.5rem;
    position: absolute;
    bottom: 0;

}

.flex-images-container h1 {
    position: absolute;
    color: white;
    z-index: 2;
    font-family: Style Script, cursive;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.9);
    font-size: 5rem;
    animation: blur-fadein ease-in 2s;
}

@keyframes blur-fadein {
    from {
        opacity: 0;
        filter: blur(20px);

    }
    to{
        opacity: 1;
        filter: blur(0);
    }
}

