{% load static i18n dict_tags navbar_tags wagtailcore_tags wagtailimages_tags custom_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}" />
{% endblock extra_css %}
<footer>
    <div class="footer-container">
        {% image settings.site_settings.BrandSettings.footer_background original as img %}
            <img
            height=""
            width=""
            src="{{ img.url }}"
            alt="Footer Background"
            class="footer-background"
            loading="lazy"
            />
        {% if settings.site_settings.BrandSettings %}
        <div class="contact-info-block">
            <div class="address">
                {{ settings.site_settings.BrandSettings.address|richtext }}
                <p>{{ settings.site_settings.BrandSettings.telephone }}</p>
            </div>
        </div>
        {% else %}
        <div class="contact-info-block">
            <div class="address">
                Configure contact information in Site Settings/Brand Settings
            </div>
        </div>
        {% endif %}

        <div class="brand-wrap">
            <a href="{% url 'wagtail_serve' '' %}">
            <img src="{% static 'default_media/logo.png' %}" alt="Milano Travel Logo" 
            height=""
            width=""
            loading="lazy"
            />
            </a>
        </div>
            <div class="footer-links">
                {% if sitemap_page %}
                    <h4>{{ sitemap_page.title }}</h4>
                {% else %}
                <h4>{% trans "Sitemap" %}</h4>
                    {% endif %}
                <ul class="footer-menu">
                    {% for link in settings.site_settings.BrandSettings.footer_menu_links.all %}
                        <li>
                            <a href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                    {% empty %}
                        <li><a href="{% url 'wagtail_serve' '' %}">Home</a></li>
                    {% endfor %}
                </ul>
            </div>
        <div class="social-media-wrap">
            {% if settings.site_settings.FooterLinks.facebook %}
            <button type="button" aria-label="social media">
            <a href="{{ settings.site_settings.FooterLinks.facebook }}" class="fab fa-facebook-square" aria-label="facebook"></a>
            </button>
            {% endif %}
            {% if settings.site_settings.FooterLinks.instagram %}
            <button type="button" aria-label="social media">
            <a href="{{ settings.site_settings.FooterLinks.instagram }}" class="fab fa-instagram" aria-label="instagram"></a>
            </button>
            {% endif %}
            {% if settings.site_settings.FooterLinks.tik_tok %}
            <button type="button" aria-label="social media">
            <a href="{{ settings.site_settings.FooterLinks.tik_tok }}" class="fab fa-tiktok" aria-label="tiktok"></a>
            </button>
            {% endif %}
            {% if settings.site_settings.FooterLinks.youtube %}
            <button type="button" aria-label="social media">
            <a href="{{ settings.site_settings.FooterLinks.youtube }}" class="fab fa-youtube" aria-label="youtube"></a>
            </button>
            {% endif %}
            {% if settings.site_settings.FooterLinks.whatsapp %}
            <button type="button" aria-label="social media">
            <a href="{{ settings.site_settings.FooterLinks.whatsapp }}" class="fab fa-whatsapp" aria-label="whatsapp"></a>
            </button>
            {% endif %}
            {% if settings.site_settings.FooterLinks.x_tw %}
            <button type="button"aria-label="social media">
            <a href="{{ settings.site_settings.FooterLinks.x_tw }}" class="fab fa-x-twitter" aria-label="X"></a>
            </button>
            {% endif %}
        </div>
        <hr />
        <div class="footer-copyright">
            <p>MILANO TRVEL © Copyright 2025-2026. All Rights Reserved.</p>
        </div>
    </div>
</footer>
