
{% load static i18n dict_tags navbar_tags wagtailcore_tags wagtailadmin_tags %}

{% get_navbar_pages as navbar_pages %}
{% get_staff_pages as staff_pages %}
{% get_tour_pages as tour_pages %}
{% wagtail_site as current_site %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
{% endblock %}

<header>
  <nav class="navbar">
    <a href="/">
      <img src="{% static 'default_media/logo.png' %}" alt="navbar-logo" class="navbar-logo"/>
    </a>

    <ul class="navbar-menu">
      {% for navbar_page in navbar_pages %}
        <li class="{% if navbar_page.get_children.live|length > 0 %}has-dropdown{% endif %}">
          {% if navbar_page.title != 'Tours' %}
          <a href="{{ navbar_page.url }}">{{ navbar_page.title }}</a>
          {% if navbar_page.get_children.live|length > 0 %}
            <div class="dropdown">
              <ul>
                {% for child in navbar_page.get_children.live %}
                  <li>
                    <a href="{{ child.url }}">{{ child.title }}</a>
                    {% comment %} Optional: Add sub-dropdown for second-level children (multi-level) {% endcomment %}
                    {% if child.get_children.live|length > 0 %}
                      <div class="sub-menu">
                        <ul>
                          {% for grandchild in child.get_children.live %}
                            <li><a href="{{ grandchild.url }}">{{ grandchild.title }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% else %}
          <a href="{{ navbar_page.url }}">{{ navbar_page.title }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>