<div class="modal-header">
    <h5 class="modal-title" id="azuayModalLabel">{% trans "Azuay, Ecuador" %}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <ul>
        <li>{% trans "The capital city of Azuay province is Cuenca" %}.</li>
        <li>{% trans "There are about 270 lakes and lagoons in the paramo of Cajas National Park" %}.</li>
        <li>{% trans "Azuay is famous for its local dishes like locro de papa (a potato and cheese soup) and cuy (guinea pig, a traditional delicacy)" %}.</li>
        <li>{% trans "The Ingapirca ruins are the largest Inca site in Ecuador, dating back to the 15th century" %}.</li>
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{% trans "Close" %}</button>
</div>