<div class="modal-header">
    <h5 class="modal-title" id="icelandModalLabel">{% trans "Iceland" %}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <ul>
        <li>{% trans "Europe’s largest waterfall, Gullfoss, is located in Iceland" %}.</li>
        <li>{% trans "Iceland is the whale-watching capital of Europe" %}.</li>
        <li>{% trans "13 major glaciers cover over 11% of the country’s surface" %}.</li>
        <li>{% trans "There are no mosquitoes in Iceland" %}.</li>
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{% trans "Close" %}</button>
</div>